{% include "base.html" %}

{% block content %}
	  <div class="page-header">
  <h3><a href="list.html" style="color: black;"><span class="glyphicon glyphicon-circle-arrow-left"></span></a> My movie</h3>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/06/cb/33/06cb338efcf3ac37a90caad05fd356a2--saving-private-ryan-matt-damon.jpg" alt="...">
      </a>
    </div>
      <p> Following the Normandy Landings, a group of U.S. soldiers go behind enemy lines to retrieve a paratrooper whose brothers have been killed in action. </p>
      <p class="text-primary">Author: <span class="text-muted">Movie author.com </span> </p>
      <p class="text-primary">Creators: <span class="text-muted">Kreator</span></p>
      <h3>Events</h3>
  </div>
{% endblock content %}